/* -------common style ------ */
body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;

}

footer {
    color: white;
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 10px 5px;
    margin-top: 100px;




}

/* ------top part style ----*/
@keyframes top-part {
    from {
        background-color: red;
    }

    to {
        background-color: yellow;
    }
}

.top-part {
    background: dimgray;
    border-radius: 30px;

    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-right: 140px;
    margin-left: 140px;
    margin-bottom: 130px;
    animation: animate 3s ease-in-out infinite alternate-reverse forwards;

}

/* --------
--------top part animation-------
 ------- */
@keyframes animate {
    0% {
        background-color: dimgray;
    }

    25% {
        background-color: darkslategray;
    }

    50% {
        background-color: slategrey;
    }

    75% {
        background-color: darkcyan;
    }

    100% {
        background-color: gray;
    }
}

.live-match {
    color: white;
}

.button {
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    background: brown;
    border-radius: 5px;

}

/* ----Live match schedule and blogs style ----- */
.transfer-live {
    margin-top: 50px;
    margin-right: 140px;
    margin-left: 140px;
    margin-bottom: 130px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);




}

.side-itmes {
    grid-row: 1/-1;
}

.sidevar {

    background: #161616;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    width: 200px;
    height: 200px;
}

.sidevar a {
    text-decoration: none;
    color: black;
    background-color: #fff;
    text-align: center;
    padding: 10px 5px;
    border-radius: 5px;
    margin: 5px 20px;
}

.blogs {

    justify-content: center;
    align-items: center;
    width: auto;
    background-color: rgba(218, 199, 199, 0.329);
    border-radius: 15px;

}

.view-button {
    text-align: center;
}

.view-button a {
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    background: brown;
    border-radius: 5px;
    text-align: center;
    display: none;



}

/* ----footer class style------ */
.goal h2 {
    text-align: center;
}

.goal hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-left: 150px;
    margin-right: 150px;
}

.menu {

    display: flex;
    gap: 20px;
    padding: 80px;
    margin-left: 200px;
}



.menu a {
    text-decoration: none;
    color: white;
}

/*--- ----media queries------------------ */

/* ------For mobile device -------*/
@media only screen and (max-width:688px) {
    .top-part {
        background: #161616;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .news-text {

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .sidevar {
        background: none;
    }

    .match-button,
    .Groups-button,
    .blog-button {
        border: 1px solid rgba(128, 128, 128, 0.411);

    }

    .transfer-live {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .view-button a {
        color: white;
        padding: 10px 30px;
        text-decoration: none;
        background: brown;
        border-radius: 5px;
        text-align: center;
        margin-left: 200px;
        display: none;
    }

    footer {
        color: white;
        text-align: center;
        background-color: black;
        width: 100%;

    }

    .menu {

        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

/* ----tablet deviceses-------- */

@media only screen and (min-width:689px) and (max-width:992px) {
    .top-part {
        background: #161616;
        border-radius: 30px;
        display: flex;
        width: 100%;

    }

    .transfer-live {
        margin-top: 50px;
        margin-right: 140px;
        margin-left: 140px;
        margin-bottom: 130px;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        justify-content: center;
    }

    .sidevar {
        background: none;
    }

    .match-button,
    .Groups-button {
        border: 1px solid rgba(128, 128, 128, 0.411);

    }


    .side-itmes {
        grid-column: 1/-1;
    }

    .view-button a {
        color: white;
        padding: 10px 30px;
        text-decoration: none;
        background: #DD0000;
        border-radius: 5px;
        text-align: center;
        margin-left: 200px;
        display: initial;

    }

    footer {
        color: white;
        text-align: center;
        background-color: black;
        padding: 10px 5px;
        width: 100%;
    }
}